section {
  margin-top: 1.5rem;
  .bookList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    .book {
      height: 290px;
      width: 200px;
      background-color: $tertiary-color;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      .switch {
        align-self: flex-end;
        p {
          position: relative;
          left: -80px;
          width: 100px;
          height: 15px;
          font-size: 0.5rem;
          font-weight: $font-medium;
          color: $primary-color;
          text-align: center;
          margin-top: 3px;
        }
        .switch {
          position: relative;
          display: inline-block;
          width: 50px;
          height: 25px;
          margin: 10px;
        }
      }
      .bookInfo {
        h2 {
          font-size: 1.5rem;
          font-weight: $font-medium;
          color: $primary-color;
        }
        p {
          font-size: 0.75rem;
          font-weight: $font-medium;
          color: $primary-color;
        }
      }

      .book-button {
        justify-self: flex-end;
        display: flex;
        width: 100%;
        justify-content: space-between;
        color: $primary-color;
        button {
          margin: 0.5rem;
          background: $secondary-color;
          width: 80px;
          height: 20px;
          color: $primary-color;
          font-size: 12px;
          font-weight: 100;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          &:hover {
            background: $quinary-color;
            color: $secondary-color;
          }
        }
      }

      .pages {
        margin: 0.5rem;
        font-size: 0.7rem;
        padding-top: 5px;
      }
    }
  }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 15px;
  margin: 10px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $quaternary-color;
  transition: 0.4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 10px;
  width: 10px;
  left: 4px;
  bottom: 2px;
  background-color: $secondary-color;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: $primary-color;
}

input:focus + .slider {
  box-shadow: 0 0 1px $primary-color;
}

input:checked + .slider:before {
  transform: translateX(12px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;
}
