section {
  position: static;
  height: 100vh;
  width: 100vw;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 0px;
  height: 500px;
  border: 1px solid black;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
