@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@200;400;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// variables
/*========== Colors ==========*/
$primary-color: #fefae0;
$secondary-color: #283618;
$tertiary-color: #606c38;
$quaternary-color: #bc6c25;
$quinary-color: #dda15e;
$white-color: #ffffff;

/*========== Font and typography ==========*/
$body-font: 'Noto Serif Display', serif;

$biggest-font-size: 2rem;
$h1-font-size: 1.5rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1rem;
$normal-font-size: 0.938rem;
$small-font-size: 0.813rem;
$smaller-font-size: 0.75rem;

/*========== Font weight ==========*/
$font-medium: 500;
$font-semi-bold: 600;
$font-black: 900;

/*========== Margenes Bottom ==========*/
$mb-0-25: 0.25rem;
$mb-0-5: 0.5rem;
$mb-0-75: 0.75rem;
$mb-1: 1rem;
$mb-1-5: 1.5rem;
$mb-2: 2rem;
$mb-2-5: 2.5rem;

body {
  font-family: $body-font;
  font-size: $normal-font-size;
  font-weight: $font-medium;
  color: $secondary-color;
  background-color: $primary-color;
  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
